python-decouple
requests~=2.25.1
pillow~=9.2.0

#YOLOva Detector
yolov5
sahi
scikit-image 
imagecodecs                                                                                                                                                                                                                                  

#cuda
opencv-python
numpy
matplotlib
tqdm

# pip install -r requirements.txt

# Base ----------------------------------------

gitpython
ipython  # interactive notebook
psutil  # system resources
PyYAML
scipy
thop  # FLOPs computation
# torch  # see https://pytorch.org/get-started/locally (recommended)
# torchvision
# protobuf  # https://github.com/ultralytics/yolov5/issues/8012

# Logging ---------------------------------------------------------------------
tensorboard
# clearml
# comet

# Plotting --------------------------------------------------------------------
pandas
seaborn

# StrongSORT ------------------------------------------------------------------
easydict

# torchreid -------------------------------------------------------------------
gdown

# ByteTrack -------------------------------------------------------------------
#lap

# OCSORT ----------------------------------------------------------------------
filterpy