python-decouple
requests~=2.25.1
pillow~=9.2.0

#YOLOva Detector
yolov5
sahi
scikit-image 
imagecodecs                                                                                                                                                                                                                                  

#cuda
opencv-python
numpy
matplotlib
tqdm